.nav-entrepot {
    display: flex;
    align-items: center;
    background-color: #4a80f7;
    padding: 2%;
    margin-bottom: 2%;
    justify-content: space-between;
}

.image_entreprise {
    width: 5%;
    height: 5%;
    margin-right: 5%;
}

.lien-page-statistiques {
    margin-right: 2%;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.lien-page-entrepot {
    margin-right: 2%;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.entrepot {
    margin: 2%;
}

.container_titre {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
}

.select_entrepot {
    padding: 1%;
    border-radius: 5px;
    margin-left: auto;
}

.liste-entrepot {
    display: grid;
}

.table_entrepot {
    border: solid;
}

th {
    border: solid;
}

td {
    border: solid;
}

.button-enregistrer {
    padding: 8px 16px;  /* Moins de padding pour réduire la taille */
    font-size: 14px;    /* Réduit la taille du texte */
    width: auto;        /* Laisser la largeur s'ajuster au contenu */
    margin-top: 10px;   /* Ajout d'un espacement pour ne pas que le bouton soit collé */
    cursor: pointer;   /* Curseur en forme de main pour indiquer que c'est cliquable */
    background-color: #4CAF50;  /* Exemple de couleur de fond */
    color: white;       /* Texte blanc */
    border: none;       /* Pas de bordure */
    border-radius: 5px; /* Coins arrondis */
    transition: background-color 0.3s ease; /* Effet de transition */
}

.button-enregistrer:hover {
    background-color: #45a049; /* Changer la couleur au survol */
}


.button-deconnexion {
    border-radius: 10px;
    padding: 1%;
    background-color: #ff4747;
}
